.contenedor{
    margin: auto;
    display: table;
}
h2{
    float:left;
    color:#9D2449;
    position: relative;
}
h2 span{
    position: absolute;
    right: 0;
    width: 0;
    background: #378FD9;
    border-left: 1px solid green;
animation: maquinas 5s infinite alternate;

}
@keyframe maquinas{
    from{
        width:100%;
    }
    to{width:0%}
    
}

#espacioherencia{
    margin-bottom: 80px;
}
*{
  font-family: 'Montserrat', sans-serif;
}




.btn-ghost{
  position: relativate;
  display: inline-block;
  border: 2px solid white;
  padding: 20px 80px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  background:white;
  transition: color 0.5s, background 0.5s;
  margin-left: 30px;
  margin-bottom: 15px;
  font-size: 1em;
  min-width: 140px;
  text-align: center;
}

.btn-ghost.round{
  border-radius: 30px;
}

.btn-ghost.secundary{
  background-color: transparent;
  color: white;
}

.btn-ghost:hover{
  color:white;
  background-color: transparent;
}

.btn-ghost.secundary:hover{
  color:black;
  background-color: white;
}

.btn-ghost:active{
  box-shadow: inset 0 0 20px white;
}

.btn-ghost.secundary:active{
  box-shadow: inset 0 0 20px black;
}

.btn-ghost.pink{
  background-color: pink;
  border-color: pink;
  color: white;
}

.btn-ghost.secundary.pink{
  background-color: transparent;
  color:pink;
}

.btn-ghost.pink:hover{
  background-color: transparent;
  color: pink;
}

.btn-ghost.secundary.pink:hover{
  background-color:pink;
  color:white;
}

.btn-ghost.pink:active{
  box-shadow: inset 0 0 20px pink;
}

.btn-ghost.secundary.pink:active{
  box-shadow: inset 0 0 20px white;
}



/** RED */
.btn-ghost.red{
  background-color:red;
  border-color: red;
  color:white;
}

.btn-ghost.secundary.red{
  background-color: transparent;
  color: red;
}

.btn-ghost.red:hover{
  background-color: transparent;
  color: red;
}

.btn-ghost.secundary.red:hover{
  background-color: red;
  color: white;
}

.btn-ghost.red:active{
  box-shadow: inset 0 0 20px red;
}

.btn-ghost.secundary.red:active{
  box-shadow: inset 0 0 20px white;
}

/** BLUE */
.btn-ghost.blue{
  background-color: blue;
  border-color:blue;
  color:white;
}

.btn-ghost.secundary.blue{
  background-color: transparent;
  color:blue;
}

.btn-ghost.blue:hover{
  background-color: transparent;
  color:blue;
}

.btn-ghost.secundary.blue:hover{
  background-color:blue;
  color:white;
}

.btn-ghost.blue:active{
  box-shadow: inset 0 0 20px blue;
}

.btn-ghost.secundary.blue:active{
  box-shadow: inset 0 0 20px white;
}

/** BLUE */
.btn-ghost.purple{
  background-color:purple;
  border-color: purple;
  color: white;
}

.btn-ghost.secundary.purple{
  background-color: transparent;
  color:purple;
}

.btn-ghost.purple:hover{
  background-color: transparent;
  color: purple;
}

.btn-ghost.secundary.purple:hover{
  background-color:purple;
  color: white;
}

.btn-ghost.purple:active{
  box-shadow: inset 0 0 20px purple;
}

.btn-ghost.secundary.purple:active{
  box-shadow: inset 0 0 20px white;
}


/** YELLOW */
.btn-ghost.yellow{
  background-color: yellow;
  border-color: yellow;
  color: white;
}

.btn-ghost.secundary.yellow{
  background-color: transparent;
  color:yellow;
}

.btn-ghost.yellow:hover{
  background-color: transparent;
  color: yellow;
}

.btn-ghost.secundary.yellow:hover{
  background-color:yellow;
  color:white;
}

.btn-ghost.yellow:active{
  box-shadow: inset 0 0 20px yellow
}

.btn-ghost.secundary.yellow:active{
  box-shadow: inset 0 0 20px white;
}


/** GREEN */
.btn-ghost.green{
  background-color: green;
  border-color:green;
  color: white;
}

.btn-ghost.secundary.green{
  background-color: transparent;
  color:green;
}

.btn-ghost.green:hover{
  background-color: transparent;
  color: green;
}

.btn-ghost.secundary.green:hover{
  background-color:green;
  color: white;
}

.btn-ghost.green:active{
  box-shadow: inset 0 0 20px green;
}

.btn-ghost.secundary.green:active{
  box-shadow: inset 0 0 20px white;
}
